{% extends 'base.html.twig' %}

{% block title %}Nous contacter - Brise d'été{% endblock %}

{% block content %}

<h2>Nous contacter</h2>
<p>N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais.</p>
  {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

<div class="row">
     <div class="col-md-8">{{ form(form) }}</div>
     <div class="col-md-4">
        <strong>Brise d'été</strong>
        <hr>
        06 99 78 65 45<br/>
        10 rue de la paix, 75016 Paris.<br/>
        contact@Brisedete.fr<br/>
    </div>
</div>    
        
{% endblock %}
